html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

.r {
  background: #ff9999 !important; }

.g {
  background: #99ff99 !important; }

.b {
  background: #9999ff !important; }

.y {
  background: #ffff99 !important; }

.c {
  background: #99ffff !important; }

.m {
  background: #ff99ff !important; }

.column {
  width: 206px;
  font-size: 12px;
  line-height: 18px; }

p {
  font-size: 12px;
  line-height: 18px;
  color: #555555;
  text-indent: 18px; }
  p.first, p.caption, .keeptogether p {
    text-indent: 0; }
  p.caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: bold;
    color: #7b7b7b; }
    .lightbox p.caption {
      color: white; }

h1, h2, h3, h4, h5, h6 {
  font-family: "BentonSans", sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #3b3b3b; }

h1 {
  font-family: "BentonSans", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  line-height: 36px; }

.topic {
  color: #f50019; }
  .topic.a {
    color: #f50019; }

.grid .head {
  position: absolute;
  height: 54px;
  border-left: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  background: url("../resources/stripes.gif");
  background-repeat: repeat; }
  .grid .head h1 {
    text-transform: lowercase; }
    .grid .head h1 img {
      position: absolute;
      bottom: 6px;
      left: 6px; }
  .grid .head .topic {
    color: black; }
.grid .kicker {
  background-color: #ece9e4;
  -webkit-box-shadow: 0 0 4px #ece9e4;
  -moz-box-shadow: 0 0 4px #ece9e4;
  -o-box-shadow: 0 0 4px #ece9e4;
  box-shadow: 0 0 4px #ece9e4;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 3px solid white !important;
  padding-top: 9px; }
  .grid .kicker h3, .grid .kicker h4, .grid .kicker h6, .grid .kicker p, .grid .kicker .articleinfo {
    margin-left: 12px;
    margin-right: 12px; }
  .grid .kicker .readmore {
    display: none; }
.grid .iab {
  background: #ff9999 !important; }
  .grid .iab.ad120x90 {
    width: 120px;
    height: 90px; }
.grid .container.article {
  overflow: visible !important;
  border-bottom: 1px solid #c6c6c6; }
.grid .container .articleinfo {
  font-size: 12px;
  line-height: 14px;
  color: #555555;
  font-family: "BentonSans", sans-serif;
  padding-top: 12px;
  margin-bottom: 3px;
  clear: both; }
  .grid .container .articleinfo .author {
    font-weight: bold; }
    .grid .container .articleinfo .author:before {
      content: "By "; }
  .grid .container .articleinfo .date {
    margin-left: 0.4em; }
  .grid .container .articleinfo .readmore {
    position: absolute;
    bottom: -4px;
    right: 0;
    width: 37px;
    height: 26px;
    background: url("../resources/more-arrow.png");
    text-indent: -9999px; }
.grid .container.w2col .articleinfo .readmore {
  display: none; }
.grid .container h6 {
  color: #f50019;
  font-size: 17px;
  line-height: 17px;
  font-weight: normal;
  padding: 6px 6px 6px 28px;
  background-image: url("../resources/dual-dots.png");
  background-repeat: no-repeat;
  background-position: 0 9px; }
.grid .container h4 {
  margin-bottom: 9px; }
.grid .container.w4col h4, .grid .container.w6col h4 {
  font-size: 36px;
  line-height: 38px; }
.grid .container.w4col .description, .grid .container.w6col .description {
  -webkit-column-count: 2;
  -webkit-column-gap: 18px;
  -webkit-column-rule-color: black;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 0;
  -moz-column-count: 2;
  -moz-column-gap: 18px;
  -moz-column-rule-color: black;
  -moz-column-rule-style: solid;
  -moz-column-rule-width: 0;
  -o-column-count: 2;
  -o-column-gap: 18px;
  -o-column-rule-color: black;
  -o-column-rule-style: solid;
  -o-column-rule-width: 0;
  column-count: 2;
  column-gap: 18px;
  column-rule-color: black;
  column-rule-style: solid;
  column-rule-width: 0; }
.grid .container.w8col .description, .grid .container.w10col .description {
  -webkit-column-count: 4;
  -webkit-column-gap: 18px;
  -webkit-column-rule-color: black;
  -webkit-column-rule-style: solid;
  -webkit-column-rule-width: 0;
  -moz-column-count: 4;
  -moz-column-gap: 18px;
  -moz-column-rule-color: black;
  -moz-column-rule-style: solid;
  -moz-column-rule-width: 0;
  -o-column-count: 4;
  -o-column-gap: 18px;
  -o-column-rule-color: black;
  -o-column-rule-style: solid;
  -o-column-rule-width: 0;
  column-count: 4;
  column-gap: 18px;
  column-rule-color: black;
  column-rule-style: solid;
  column-rule-width: 0; }
.grid .p1.article {
  background-color: #db0016;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f50019), to(#c20014));
  background-image: -webkit-linear-gradient(top, #f50019, #c20014);
  background-image: -moz-linear-gradient(top, #f50019, #c20014);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f50019', endColorstr='#c20014');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f50019', endColorstr='#c20014');
  background-image: linear-gradient(top, #f50019, #c20014);
  -webkit-box-shadow: 0 0 4px #b9b9b9;
  -moz-box-shadow: 0 0 4px #b9b9b9;
  -o-box-shadow: 0 0 4px #b9b9b9;
  box-shadow: 0 0 4px #b9b9b9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 3px solid white !important;
  padding-bottom: 9px; }
  .grid .p1.article * {
    color: white; }
  .grid .p1.article .hed {
    padding: 18px;
    padding-bottom: 0; }
  .grid .p1.article .dek {
    padding: 0 18px; }
  .grid .p1.article .description {
    padding: 18px; }
  .grid .p1.article .caption {
    padding: 0 18px;
    font-size: 10px;
    line-height: 12px; }
  .grid .p1.article .articleinfo {
    padding: 0 18px; }
  .grid .p1.article.w6col .topic, .grid .p1.article.w8col .topic, .grid .p1.article.w10col .topic {
    display: none; }
  .grid .p1.article.w6col .hed, .grid .p1.article.w8col .hed, .grid .p1.article.w10col .hed {
    font-size: 36px;
    line-height: 36px;
    text-shadow: 0 0 6px #a90011;
    margin-right: 448px; }
  .grid .p1.article.w6col .dek, .grid .p1.article.w8col .dek, .grid .p1.article.w10col .dek {
    font-weight: normal;
    margin-right: 448px; }
  .grid .p1.article.w6col .img, .grid .p1.article.w8col .img, .grid .p1.article.w10col .img {
    width: 430px;
    float: right; }
    .grid .p1.article.w6col .img img, .grid .p1.article.w8col .img img, .grid .p1.article.w10col .img img {
      margin-top: 18px;
      width: 430px; }
    .grid .p1.article.w6col .img .caption, .grid .p1.article.w8col .img .caption, .grid .p1.article.w10col .img .caption {
      padding: 0 18px 0 0; }
  .grid .p1.article.w6col .description, .grid .p1.article.w8col .description, .grid .p1.article.w10col .description {
    float: left;
    right: 448px;
    -webkit-column-count: 2;
    -webkit-column-gap: 18px;
    -webkit-column-rule-color: black;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 0;
    -moz-column-count: 2;
    -moz-column-gap: 18px;
    -moz-column-rule-color: black;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 0;
    -o-column-count: 2;
    -o-column-gap: 18px;
    -o-column-rule-color: black;
    -o-column-rule-style: solid;
    -o-column-rule-width: 0;
    column-count: 2;
    column-gap: 18px;
    column-rule-color: black;
    column-rule-style: solid;
    column-rule-width: 0; }
  .grid .p1.article.w6col .articleinfo .readmore, .grid .p1.article.w8col .articleinfo .readmore, .grid .p1.article.w10col .articleinfo .readmore {
    display: none; }
  .grid .p1.article.w6col .description {
    clear: both; }
  .grid .p1.article.w6col .img {
    width: 318px;
    float: right; }
    .grid .p1.article.w6col .img img {
      margin-top: 18px;
      width: 318px; }
  .grid .p1.article.w6col .description {
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    -webkit-column-rule-color: black;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 0;
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -moz-column-rule-color: black;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 0;
    -o-column-count: 1;
    -o-column-gap: 0;
    -o-column-rule-color: black;
    -o-column-rule-style: solid;
    -o-column-rule-width: 0;
    column-count: 1;
    column-gap: 0;
    column-rule-color: black;
    column-rule-style: solid;
    column-rule-width: 0; }

.frontpage1.grid .head {
  padding-right: 18px; }
.frontpage1.grid.page-1 .head {
  height: 108px; }
  .frontpage1.grid.page-1 .head h1 {
    display: block;
    position: absolute;
    width: 204px;
    bottom: 7px;
    left: 6px;
    font-weight: normal;
    font-size: 10.35px;
    line-height: 10.35px; }
    .frontpage1.grid.page-1 .head h1 img {
      position: relative;
      left: -2px;
      top: 0; }
  .frontpage1.grid.page-1 .head .iab {
    position: absolute;
    top: 9px;
    right: 242px; }
.frontpage1.grid.page-1.w2col .head h1, .frontpage1.grid.page-1.mobile .head h1 {
  bottom: 2px; }
  .frontpage1.grid.page-1.w2col .head h1 img, .frontpage1.grid.page-1.mobile .head h1 img {
    display: block;
    left: 0; }
.frontpage1.grid.page-1.w4col .head .iab {
  right: 18px; }
.frontpage1.grid.page-1 .column, .frontpage1.grid.page-1 .container {
  top: 126px; }
.frontpage1.grid.no-page-1 .head img {
  height: 40px; }
.frontpage1.grid .keeptogether {
  padding-top: 9px;
  border-bottom: 1px solid #c6c6c6; }
  .frontpage1.grid .keeptogether h4 {
    margin-bottom: 3px; }
.frontpage1.grid .topics {
  background: white;
  border-left: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  padding: 18px;
  padding-right: 0;
  top: 36px !important;
  bottom: 36px !important; }
  .frontpage1.grid .topics h1 {
    color: #f50019;
    font-size: 18px;
    line-height: 18px;
    background: #ececec;
    border-right: 18px solid #f9f9f9;
    padding: 25px 0 4px 6px; }
  .frontpage1.grid .topics ul {
    list-style: none; }
    .frontpage1.grid .topics ul li {
      border-left: 1px solid #c6c6c6;
      border-top: 1px solid #c6c6c6;
      margin-top: 6px; }
      .frontpage1.grid .topics ul li h3 {
        background: #ececec;
        padding: 6px 6px 6px 20px;
        background-image: url("../resources/single-dot.png");
        background-repeat: no-repeat;
        background-position: 6px 8px;
        border-right: 18px solid #f9f9f9;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        color: #f50019; }
      .frontpage1.grid .topics ul li ul li {
        font-family: "BentonSans", sans-serif;
        color: #555555;
        font-size: 14px;
        line-height: 16px;
        padding: 6px;
        margin-top: 1px;
        border: none;
        background: #ececec;
        border-right: 18px solid #f9f9f9; }
  .frontpage1.grid .topics .moretopics {
    display: block;
    position: absolute;
    bottom: 0;
    width: 206px;
    height: 25px;
    padding-top: 12px;
    background: url("../resources/sidebarmore.png");
    text-align: center;
    font-family: "BentonSans", sans-serif;
    font-weight: normal;
    color: #555555;
    text-shadow: 0 0 4px white;
    font-size: 20px; }

.topics1.grid .container {
  border-bottom: 1px solid #c6c6c6; }
.topics1.grid .column .keeptogether {
  padding-top: 9px;
  border-bottom: 1px solid #c6c6c6;
  border-right: 1px solid #c6c6c6; }
  .topics1.grid .column .keeptogether:last-child {
    border-bottom: none; }
  .topics1.grid .column .keeptogether .topic a {
    color: #f50019;
    padding: 6px 6px 3px 14px;
    background-image: url("../resources/single-dot.png");
    background-repeat: no-repeat;
    background-position: 0 9px;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal; }
.topics1.grid .head h1 {
  font-size: 36px;
  font-weight: normal;
  color: black;
  margin-top: 9px;
  margin-left: 9px; }
  .topics1.grid .head h1 img {
    position: static;
    display: inline;
    height: 34px;
    margin-bottom: -2px; }

.section1.grid .head h1 {
  font-size: 36px;
  font-weight: normal;
  color: black;
  margin-top: 9px;
  margin-left: 9px; }
  .section1.grid .head h1 img {
    position: static;
    display: inline;
    height: 34px;
    margin-bottom: -2px; }
.section1.grid.mobile .head h1 img, .section1.grid.w2col .head h1 img {
  height: 18px; }
.section1.grid.mobile .column, .section1.grid.mobile .container, .section1.grid.w2col .column, .section1.grid.w2col .container {
  top: 72px; }
.section1.grid.no-page-1 .head img {
  height: 40px; }
.section1.grid .keeptogether {
  padding-top: 9px;
  border-bottom: 1px solid #c6c6c6; }
  .section1.grid .keeptogether h4 {
    margin-bottom: 3px; }
.section1.grid .topics {
  background: white;
  border-left: 1px solid #c6c6c6;
  border-top: 1px solid #c6c6c6;
  padding: 18px;
  padding-right: 0;
  top: 36px !important;
  bottom: 36px !important; }
  .section1.grid .topics h1 {
    color: #f50019;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 18px;
    line-height: 18px;
    background: #ececec;
    border-right: 18px solid #f9f9f9;
    padding: 25px 0 4px 6px; }
  .section1.grid .topics ul {
    list-style: none; }
    .section1.grid .topics ul li {
      border-left: 1px solid #c6c6c6;
      border-top: 1px solid #c6c6c6;
      margin-top: 6px; }
      .section1.grid .topics ul li h3 {
        background: #ececec;
        padding: 6px 6px 6px 20px;
        background-image: url("../resources/single-dot.png");
        background-repeat: no-repeat;
        background-position: 6px 8px;
        border-right: 18px solid #f9f9f9;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal;
        color: #f50019; }
      .section1.grid .topics ul li ul li {
        font-family: "BentonSans", sans-serif;
        color: #555555;
        font-size: 14px;
        line-height: 16px;
        padding: 6px;
        margin-top: 1px;
        border: none;
        background: #ececec;
        border-right: 18px solid #f9f9f9; }
  .section1.grid .topics .moretopics {
    display: block;
    position: absolute;
    bottom: 0;
    width: 214px;
    height: 25px;
    padding-top: 12px;
    background: url("../resources/sidebarmore.png");
    text-align: center;
    font-family: "BentonSans", sans-serif;
    font-weight: bold;
    color: #555555;
    text-shadow: 0 0 4px white;
    font-size: 20px; }

.article1.grid .column {
  width: 318px; }
.article1.grid .column, .article1.grid .container {
  top: 54px; }
.article1.grid .head {
  height: 36px; }
  .article1.grid .head h1 {
    font-size: 23px;
    font-weight: normal;
    color: black;
    margin-top: 0;
    margin-left: 9px;
    text-transform: lowercase; }
  .article1.grid .head img {
    position: static;
    display: inline;
    height: 20px;
    margin-bottom: -2px; }
.article1.grid hgroup {
  margin-bottom: 9px; }
  .article1.grid hgroup .topic {
    display: none; }
  .article1.grid hgroup h1 {
    margin-bottom: 9px; }
  .article1.grid hgroup .author, .article1.grid hgroup .date {
    font-size: 12px;
    line-height: 18px; }
  .article1.grid hgroup .author {
    display: inline; }
  .article1.grid hgroup .date {
    display: inline;
    font-weight: normal; }

.video1.grid .container {
  border-bottom: 1px solid #c6c6c6; }
  .video1.grid .container .description {
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    -webkit-column-rule-color: black;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 0;
    -moz-column-count: 1;
    -moz-column-gap: 0px;
    -moz-column-rule-color: black;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 0;
    -o-column-count: 1;
    -o-column-gap: 0px;
    -o-column-rule-color: black;
    -o-column-rule-style: solid;
    -o-column-rule-width: 0;
    column-count: 1;
    column-gap: 0px;
    column-rule-color: black;
    column-rule-style: solid;
    column-rule-width: 0; }
.video1.grid .keeptogether {
  padding-bottom: 3px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 3px; }
.video1.grid .head h1 {
  font-size: 36px;
  font-weight: normal;
  color: black;
  margin-top: 9px;
  margin-left: 9px; }
  .video1.grid .head h1 img {
    position: static;
    display: inline;
    height: 34px;
    margin-bottom: -2px; }
.video1.grid.mobile .keeptogether img {
  display: none;
  max-height: 0; }

.grid.w2col .container, .grid.w2col .column, .grid.mobile .container, .grid.mobile .column {
  top: 45px; }
.grid.w2col .head, .grid.mobile .head {
  height: 32px; }
  .grid.w2col .head h1, .grid.mobile .head h1 {
    font-size: 18px;
    line-height: 18px; }
    .grid.w2col .head h1 img, .grid.mobile .head h1 img {
      height: 18px; }
.grid.w2col.frontpage1.page-1 .container, .grid.w2col.frontpage1.page-1 .column, .grid.mobile.frontpage1.page-1 .container, .grid.mobile.frontpage1.page-1 .column {
  top: 40px; }

.frontpage1.grid.page-1.w2col .head, .frontpage1.grid.page-1.mobile .head {
  height: 32px; }

.frontpage1.grid.no-page-1.w2col .head h1, .frontpage1.grid.no-page-1.mobile .head h1 {
  font-size: 18px;
  line-height: 18px; }
  .frontpage1.grid.no-page-1.w2col .head h1 img, .frontpage1.grid.no-page-1.mobile .head h1 img {
    height: 18px; }

.lightbox * {
  color: white; }
.lightbox h6 a {
  color: #f50019; }
.lightbox .title {
  font-size: 27px;
  line-height: 28.8px;
  margin-bottom: 9px; }
.lightbox .mobile .title {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 3px; }
.orientation-horizontal .lightbox {
  background: #ff9999 !important; }

.mobile.grid .head {
  top: 0;
  left: 20px;
  right: 20px;
  height: 26px;
  padding: 0; }
  .mobile.grid .head h1 {
    margin: 3px;
    padding: 0; }
.mobile.grid .column img, .mobile.grid .container img {
  width: 280px;
  height: auto; }
.mobile.grid.frontpage1.page-1 .head, .mobile.grid.topics1.page-1 .head {
  height: 60px; }
.mobile.grid.article1 {
  padding-top: 4px; }

.chrome {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .chrome.no-small {
    min-width: 620px; }
  .chrome.small {
    max-width: 620px; }
  .chrome .viewer {
    position: absolute;
    overflow: visible;
    top: 0;
    right: 6px;
    bottom: 35px;
    left: 36px;
    z-index: 0; }
  .chrome.small .viewer {
    left: 6px; }
  .chrome.small .menu {
    left: 10px; }
  .chrome.small .controll .right {
    padding-right: 0px; }
  .chrome.small .activemenu {
    left: 13px; }
    .chrome.small .activemenu a.open-sidebar {
      width: 100px;
      height: 18px;
      position: static;
      background: none;
      top: 0;
      margin: 0;
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      text-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
      display: block;
      font-weight: bold;
      color: #a2a2a2;
      padding: 2px 5px; }
      .chrome.small .activemenu a.open-sidebar:hover {
        color: white; }

.overlay {
  display: block;
  z-index: -1;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../resources/transpbkg.png");
  opacity: 0;
  -webkit-transition: 0.5s opacity;
  -moz-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity; }
  .sidebar-active .overlay {
    z-index: 0;
    opacity: 1; }

.activemenu {
  position: absolute;
  display: none;
  left: 30px;
  bottom: 39px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 4px #3c3c3c;
  -moz-box-shadow: 0 0 4px #3c3c3c;
  -o-box-shadow: 0 0 4px #3c3c3c;
  box-shadow: 0 0 4px #3c3c3c;
  background: #3c3c3c;
  list-style: none; }
  .activemenu li {
    border-bottom: 1px solid #888888; }
    .activemenu li a {
      display: block;
      font-weight: bold;
      color: #a2a2a2;
      padding: 2px 5px; }
      .activemenu li a:hover {
        color: white; }
    .activemenu li:last-child {
      border: none; }
  .menu-active .activemenu {
    display: block; }

.controll {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 35px;
  background-color: #888888;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(#6f6f6f));
  background-image: -webkit-linear-gradient(top, #a2a2a2, #6f6f6f);
  background-image: -moz-linear-gradient(top, #a2a2a2, #6f6f6f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
  background-image: linear-gradient(top, #a2a2a2, #6f6f6f);
  color: white;
  text-shadow: 0 0 4px #555555;
  background-image: url("../resources/chromeBkg.jpg"); }
  .controll .menu {
    position: absolute;
    bottom: 0px;
    left: 30px;
    padding: 0 16px;
    height: 31px;
    border: none;
    background: #3c3c3c;
    color: white;
    font-family: "BentonSans", sans-serif;
    font-weight: bold;
    -moz-border-radius-topleft: 6px;
    -webkit-border-top-left-radius: 6px;
    -o-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -moz-border-radius-topright: 6px;
    -webkit-border-top-right-radius: 6px;
    -o-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-box-shadow: 0 0 4px #3c3c3c;
    -moz-box-shadow: 0 0 4px #3c3c3c;
    -o-box-shadow: 0 0 4px #3c3c3c;
    box-shadow: 0 0 4px #3c3c3c; }

.bottom.left {
  float: left; }
.bottom.center {
  position: absolute;
  left: 170px;
  right: 170px; }
.bottom.right {
  float: right;
  padding-right: 30px; }
  .bottom.right .numbering, .bottom.right button {
    float: right; }
  .bottom.right button {
    border: none;
    margin: 0;
    padding: 0;
    height: 35px;
    width: 35px;
    background: none; }
  .bottom.right .numbering, .bottom.right .numbering * {
    font-weight: bold; }
  .bottom.right .numbering {
    margin: 8px 6px; }

.sidebar {
  position: absolute;
  display: block;
  top: 0;
  bottom: 35px;
  left: 0;
  width: 0;
  background-color: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, right top, from(#cbcbcb), to(#efefef));
  background-image: -webkit-linear-gradient(left, #cbcbcb, #efefef);
  background-image: -moz-linear-gradient(left, #cbcbcb, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#cbcbcb', endColorstr='#efefef');
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#cbcbcb', endColorstr='#efefef');
  background-image: linear-gradient(left, #cbcbcb, #efefef);
  overflow: auto;
  overflow-x: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .sidebar .article {
    background-color: #4f4f4f;
    background-image: -webkit-gradient(linear, left top, right top, from(#434343), to(#5d5d5d));
    background-image: -webkit-linear-gradient(left, #434343, #5d5d5d);
    background-image: -moz-linear-gradient(left, #434343, #5d5d5d);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#434343', endColorstr='#5d5d5d');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#434343', endColorstr='#5d5d5d');
    background-image: linear-gradient(left, #434343, #5d5d5d);
    margin-bottom: 1px;
    color: #dddddd;
    padding: 6px 12px 6px 6px;
    width: 262px; }
    .sidebar .article .title {
      display: block;
      font-size: 18px;
      line-height: 21px;
      font-family: "BentonSans", sans-serif;
      font-weight: bold; }
    .sidebar .article .description {
      display: block;
      font-size: 14.4px;
      line-height: 18px; }
    .sidebar .article:hover {
      color: white; }
    .sidebar .article.current {
      background-color: #b70012;
      background-image: -webkit-gradient(linear, left top, right top, from(#9e0010), to(#d10015));
      background-image: -webkit-linear-gradient(left, #9e0010, #d10015);
      background-image: -moz-linear-gradient(left, #9e0010, #d10015);
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#9e0010', endColorstr='#d10015');
      -ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr='#9e0010', endColorstr='#d10015');
      background-image: linear-gradient(left, #9e0010, #d10015);
      color: white; }
  .sidebar-active .sidebar {
    width: 280px; }

.open-sidebar {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 30px;
  height: 100px;
  padding: 0;
  margin: 0;
  margin-top: -85px;
  border: none;
  background: #5d5d5d;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0 0 4px #888888;
  -moz-box-shadow: 0 0 4px #888888;
  -o-box-shadow: 0 0 4px #888888;
  box-shadow: 0 0 4px #888888;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .sidebar-active .open-sidebar {
    left: 280px;
    width: 0; }

.close-sidebar {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 0;
  height: 100px;
  padding: 0;
  margin: 0;
  margin-top: -85px;
  border: none;
  background: #5d5d5d;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-box-shadow: 0 0 4px #3c3c3c;
  -moz-box-shadow: 0 0 4px #3c3c3c;
  -o-box-shadow: 0 0 4px #3c3c3c;
  box-shadow: 0 0 4px #3c3c3c;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  .sidebar-active .close-sidebar {
    left: 280px;
    width: 30px; }

.lightbox {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../resources/transpbkg.png");
  background-repeat: repeat;
  z-index: 99; }
  .lightbox .container {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background: black;
    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    -o-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
  .lightbox .close {
    display: none;
    position: absolute;
    width: 20px;
    height: 20px;
    color: white;
    background-color: black;
    background-image: url(../resources/x.png);
    font-size: 20px;
    font-weight: bold;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -o-border-radius: 13px;
    border-radius: 13px;
    border: 3px solid white;
    -webkit-box-shadow: 1px 1px 5px black;
    -moz-box-shadow: 1px 1px 5px black;
    -o-box-shadow: 1px 1px 5px black;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    z-index: 100; }

.single-3x4, .single-1x1, .single-4x3, .single-16x9 {
  width: 318px; }

.double-3x4, .double-1x1, .double-4x3, .double-16x9 {
  width: 654px; }

.triple-3x4, .triple-1x1, .triple-4x3, .triple-16x9 {
  width: 990px; }

.quad-3x4, .quad-1x1, .quad-4x3, .quad-16x9 {
  width: 1326px; }

.r16x9.mobile.fixed {
  height: 157.5px; }

.r16x9.w1col.fixed {
  height: 52.875px; }

.r16x9.w2col.fixed {
  height: 115.875px; }

.r16x9.w3col.fixed {
  height: 178.875px; }

.r16x9.w4col.fixed {
  height: 241.875px; }

.r16x9.w5col.fixed {
  height: 304.875px; }

.r16x9.w6col.fixed {
  height: 367.875px; }

.r16x9.w7col.fixed {
  height: 430.875px; }

.r16x9.w8col.fixed {
  height: 493.875px; }

.r16x9.w9col.fixed {
  height: 556.875px; }

.r16x9.w10col.fixed {
  height: 619.875px; }

.r16x9.w11col.fixed {
  height: 682.875px; }

.r16x9.w12col.fixed {
  height: 745.875px; }

.mobile.grid .img img {
  width: 280px;
  height: auto; }
.mobile.grid .img.single-16x9 img, .mobile.grid .img.double-16x9 img, .mobile.grid .img.triple-16x9 img, .mobile.grid .img.quad-16x9 img {
  height: 157.5px; }

.img.w1col img {
  width: 94px;
  height: auto; }

.img.w1col.single-16x9 img, .img.w1col.double-16x9 img, .img.w1col.triple-16x9 img, .img.w1col.quad-16x9 img {
  height: 52.875px; }

.img.w2col img {
  width: 206px;
  height: auto; }

.img.w2col.single-16x9 img, .img.w2col.double-16x9 img, .img.w2col.triple-16x9 img, .img.w2col.quad-16x9 img {
  height: 115.875px; }

.img.w3col img {
  width: 318px;
  height: auto; }

.img.w3col.single-16x9 img, .img.w3col.double-16x9 img, .img.w3col.triple-16x9 img, .img.w3col.quad-16x9 img {
  height: 178.875px; }

.img.w4col img {
  width: 430px;
  height: auto; }

.img.w4col.single-16x9 img, .img.w4col.double-16x9 img, .img.w4col.triple-16x9 img, .img.w4col.quad-16x9 img {
  height: 241.875px; }

.img.w5col img {
  width: 542px;
  height: auto; }

.img.w5col.single-16x9 img, .img.w5col.double-16x9 img, .img.w5col.triple-16x9 img, .img.w5col.quad-16x9 img {
  height: 304.875px; }

.img.w6col img {
  width: 654px;
  height: auto; }

.img.w6col.single-16x9 img, .img.w6col.double-16x9 img, .img.w6col.triple-16x9 img, .img.w6col.quad-16x9 img {
  height: 367.875px; }

.img.w7col img {
  width: 766px;
  height: auto; }

.img.w7col.single-16x9 img, .img.w7col.double-16x9 img, .img.w7col.triple-16x9 img, .img.w7col.quad-16x9 img {
  height: 430.875px; }

.img.w8col img {
  width: 878px;
  height: auto; }

.img.w8col.single-16x9 img, .img.w8col.double-16x9 img, .img.w8col.triple-16x9 img, .img.w8col.quad-16x9 img {
  height: 493.875px; }

.img.w9col img {
  width: 990px;
  height: auto; }

.img.w9col.single-16x9 img, .img.w9col.double-16x9 img, .img.w9col.triple-16x9 img, .img.w9col.quad-16x9 img {
  height: 556.875px; }

.img.w10col img {
  width: 1102px;
  height: auto; }

.img.w10col.single-16x9 img, .img.w10col.double-16x9 img, .img.w10col.triple-16x9 img, .img.w10col.quad-16x9 img {
  height: 619.875px; }

.img.w11col img {
  width: 1214px;
  height: auto; }

.img.w11col.single-16x9 img, .img.w11col.double-16x9 img, .img.w11col.triple-16x9 img, .img.w11col.quad-16x9 img {
  height: 682.875px; }

.img.w12col img {
  width: 1326px;
  height: auto; }

.img.w12col.single-16x9 img, .img.w12col.double-16x9 img, .img.w12col.triple-16x9 img, .img.w12col.quad-16x9 img {
  height: 745.875px; }

.r4x3.mobile.fixed {
  height: 210px; }

.r4x3.w1col.fixed {
  height: 70.5px; }

.r4x3.w2col.fixed {
  height: 154.5px; }

.r4x3.w3col.fixed {
  height: 238.5px; }

.r4x3.w4col.fixed {
  height: 322.5px; }

.r4x3.w5col.fixed {
  height: 406.5px; }

.r4x3.w6col.fixed {
  height: 490.5px; }

.r4x3.w7col.fixed {
  height: 574.5px; }

.r4x3.w8col.fixed {
  height: 658.5px; }

.r4x3.w9col.fixed {
  height: 742.5px; }

.r4x3.w10col.fixed {
  height: 826.5px; }

.r4x3.w11col.fixed {
  height: 910.5px; }

.r4x3.w12col.fixed {
  height: 994.5px; }

.mobile.grid .img img {
  width: 280px;
  height: auto; }
.mobile.grid .img.single-4x3 img, .mobile.grid .img.double-4x3 img, .mobile.grid .img.triple-4x3 img, .mobile.grid .img.quad-4x3 img {
  height: 210px; }

.img.w1col img {
  width: 94px;
  height: auto; }

.img.w1col.single-4x3 img, .img.w1col.double-4x3 img, .img.w1col.triple-4x3 img, .img.w1col.quad-4x3 img {
  height: 70.5px; }

.img.w2col img {
  width: 206px;
  height: auto; }

.img.w2col.single-4x3 img, .img.w2col.double-4x3 img, .img.w2col.triple-4x3 img, .img.w2col.quad-4x3 img {
  height: 154.5px; }

.img.w3col img {
  width: 318px;
  height: auto; }

.img.w3col.single-4x3 img, .img.w3col.double-4x3 img, .img.w3col.triple-4x3 img, .img.w3col.quad-4x3 img {
  height: 238.5px; }

.img.w4col img {
  width: 430px;
  height: auto; }

.img.w4col.single-4x3 img, .img.w4col.double-4x3 img, .img.w4col.triple-4x3 img, .img.w4col.quad-4x3 img {
  height: 322.5px; }

.img.w5col img {
  width: 542px;
  height: auto; }

.img.w5col.single-4x3 img, .img.w5col.double-4x3 img, .img.w5col.triple-4x3 img, .img.w5col.quad-4x3 img {
  height: 406.5px; }

.img.w6col img {
  width: 654px;
  height: auto; }

.img.w6col.single-4x3 img, .img.w6col.double-4x3 img, .img.w6col.triple-4x3 img, .img.w6col.quad-4x3 img {
  height: 490.5px; }

.img.w7col img {
  width: 766px;
  height: auto; }

.img.w7col.single-4x3 img, .img.w7col.double-4x3 img, .img.w7col.triple-4x3 img, .img.w7col.quad-4x3 img {
  height: 574.5px; }

.img.w8col img {
  width: 878px;
  height: auto; }

.img.w8col.single-4x3 img, .img.w8col.double-4x3 img, .img.w8col.triple-4x3 img, .img.w8col.quad-4x3 img {
  height: 658.5px; }

.img.w9col img {
  width: 990px;
  height: auto; }

.img.w9col.single-4x3 img, .img.w9col.double-4x3 img, .img.w9col.triple-4x3 img, .img.w9col.quad-4x3 img {
  height: 742.5px; }

.img.w10col img {
  width: 1102px;
  height: auto; }

.img.w10col.single-4x3 img, .img.w10col.double-4x3 img, .img.w10col.triple-4x3 img, .img.w10col.quad-4x3 img {
  height: 826.5px; }

.img.w11col img {
  width: 1214px;
  height: auto; }

.img.w11col.single-4x3 img, .img.w11col.double-4x3 img, .img.w11col.triple-4x3 img, .img.w11col.quad-4x3 img {
  height: 910.5px; }

.img.w12col img {
  width: 1326px;
  height: auto; }

.img.w12col.single-4x3 img, .img.w12col.double-4x3 img, .img.w12col.triple-4x3 img, .img.w12col.quad-4x3 img {
  height: 994.5px; }

.r1x1.mobile.fixed {
  height: 280px; }

.r1x1.w1col.fixed {
  height: 94px; }

.r1x1.w2col.fixed {
  height: 206px; }

.r1x1.w3col.fixed {
  height: 318px; }

.r1x1.w4col.fixed {
  height: 430px; }

.r1x1.w5col.fixed {
  height: 542px; }

.r1x1.w6col.fixed {
  height: 654px; }

.r1x1.w7col.fixed {
  height: 766px; }

.r1x1.w8col.fixed {
  height: 878px; }

.r1x1.w9col.fixed {
  height: 990px; }

.r1x1.w10col.fixed {
  height: 1102px; }

.r1x1.w11col.fixed {
  height: 1214px; }

.r1x1.w12col.fixed {
  height: 1326px; }

.mobile.grid .img img {
  width: 280px;
  height: auto; }
.mobile.grid .img.single-1x1 img, .mobile.grid .img.double-1x1 img, .mobile.grid .img.triple-1x1 img, .mobile.grid .img.quad-1x1 img {
  height: 280px; }

.img.w1col img {
  width: 94px;
  height: auto; }

.img.w1col.single-1x1 img, .img.w1col.double-1x1 img, .img.w1col.triple-1x1 img, .img.w1col.quad-1x1 img {
  height: 94px; }

.img.w2col img {
  width: 206px;
  height: auto; }

.img.w2col.single-1x1 img, .img.w2col.double-1x1 img, .img.w2col.triple-1x1 img, .img.w2col.quad-1x1 img {
  height: 206px; }

.img.w3col img {
  width: 318px;
  height: auto; }

.img.w3col.single-1x1 img, .img.w3col.double-1x1 img, .img.w3col.triple-1x1 img, .img.w3col.quad-1x1 img {
  height: 318px; }

.img.w4col img {
  width: 430px;
  height: auto; }

.img.w4col.single-1x1 img, .img.w4col.double-1x1 img, .img.w4col.triple-1x1 img, .img.w4col.quad-1x1 img {
  height: 430px; }

.img.w5col img {
  width: 542px;
  height: auto; }

.img.w5col.single-1x1 img, .img.w5col.double-1x1 img, .img.w5col.triple-1x1 img, .img.w5col.quad-1x1 img {
  height: 542px; }

.img.w6col img {
  width: 654px;
  height: auto; }

.img.w6col.single-1x1 img, .img.w6col.double-1x1 img, .img.w6col.triple-1x1 img, .img.w6col.quad-1x1 img {
  height: 654px; }

.img.w7col img {
  width: 766px;
  height: auto; }

.img.w7col.single-1x1 img, .img.w7col.double-1x1 img, .img.w7col.triple-1x1 img, .img.w7col.quad-1x1 img {
  height: 766px; }

.img.w8col img {
  width: 878px;
  height: auto; }

.img.w8col.single-1x1 img, .img.w8col.double-1x1 img, .img.w8col.triple-1x1 img, .img.w8col.quad-1x1 img {
  height: 878px; }

.img.w9col img {
  width: 990px;
  height: auto; }

.img.w9col.single-1x1 img, .img.w9col.double-1x1 img, .img.w9col.triple-1x1 img, .img.w9col.quad-1x1 img {
  height: 990px; }

.img.w10col img {
  width: 1102px;
  height: auto; }

.img.w10col.single-1x1 img, .img.w10col.double-1x1 img, .img.w10col.triple-1x1 img, .img.w10col.quad-1x1 img {
  height: 1102px; }

.img.w11col img {
  width: 1214px;
  height: auto; }

.img.w11col.single-1x1 img, .img.w11col.double-1x1 img, .img.w11col.triple-1x1 img, .img.w11col.quad-1x1 img {
  height: 1214px; }

.img.w12col img {
  width: 1326px;
  height: auto; }

.img.w12col.single-1x1 img, .img.w12col.double-1x1 img, .img.w12col.triple-1x1 img, .img.w12col.quad-1x1 img {
  height: 1326px; }

.r3x4.mobile.fixed {
  height: 373.333px; }

.r3x4.w1col.fixed {
  height: 125.333px; }

.r3x4.w2col.fixed {
  height: 274.667px; }

.r3x4.w3col.fixed {
  height: 424px; }

.r3x4.w4col.fixed {
  height: 573.333px; }

.r3x4.w5col.fixed {
  height: 722.667px; }

.r3x4.w6col.fixed {
  height: 872px; }

.r3x4.w7col.fixed {
  height: 1021.333px; }

.r3x4.w8col.fixed {
  height: 1170.667px; }

.r3x4.w9col.fixed {
  height: 1320px; }

.r3x4.w10col.fixed {
  height: 1469.333px; }

.r3x4.w11col.fixed {
  height: 1618.667px; }

.r3x4.w12col.fixed {
  height: 1768px; }

.mobile.grid .img img {
  width: 280px;
  height: auto; }
.mobile.grid .img.single-3x4 img, .mobile.grid .img.double-3x4 img, .mobile.grid .img.triple-3x4 img, .mobile.grid .img.quad-3x4 img {
  height: 373.333px; }

.img.w1col img {
  width: 94px;
  height: auto; }

.img.w1col.single-3x4 img, .img.w1col.double-3x4 img, .img.w1col.triple-3x4 img, .img.w1col.quad-3x4 img {
  height: 125.333px; }

.img.w2col img {
  width: 206px;
  height: auto; }

.img.w2col.single-3x4 img, .img.w2col.double-3x4 img, .img.w2col.triple-3x4 img, .img.w2col.quad-3x4 img {
  height: 274.667px; }

.img.w3col img {
  width: 318px;
  height: auto; }

.img.w3col.single-3x4 img, .img.w3col.double-3x4 img, .img.w3col.triple-3x4 img, .img.w3col.quad-3x4 img {
  height: 424px; }

.img.w4col img {
  width: 430px;
  height: auto; }

.img.w4col.single-3x4 img, .img.w4col.double-3x4 img, .img.w4col.triple-3x4 img, .img.w4col.quad-3x4 img {
  height: 573.333px; }

.img.w5col img {
  width: 542px;
  height: auto; }

.img.w5col.single-3x4 img, .img.w5col.double-3x4 img, .img.w5col.triple-3x4 img, .img.w5col.quad-3x4 img {
  height: 722.667px; }

.img.w6col img {
  width: 654px;
  height: auto; }

.img.w6col.single-3x4 img, .img.w6col.double-3x4 img, .img.w6col.triple-3x4 img, .img.w6col.quad-3x4 img {
  height: 872px; }

.img.w7col img {
  width: 766px;
  height: auto; }

.img.w7col.single-3x4 img, .img.w7col.double-3x4 img, .img.w7col.triple-3x4 img, .img.w7col.quad-3x4 img {
  height: 1021.333px; }

.img.w8col img {
  width: 878px;
  height: auto; }

.img.w8col.single-3x4 img, .img.w8col.double-3x4 img, .img.w8col.triple-3x4 img, .img.w8col.quad-3x4 img {
  height: 1170.667px; }

.img.w9col img {
  width: 990px;
  height: auto; }

.img.w9col.single-3x4 img, .img.w9col.double-3x4 img, .img.w9col.triple-3x4 img, .img.w9col.quad-3x4 img {
  height: 1320px; }

.img.w10col img {
  width: 1102px;
  height: auto; }

.img.w10col.single-3x4 img, .img.w10col.double-3x4 img, .img.w10col.triple-3x4 img, .img.w10col.quad-3x4 img {
  height: 1469.333px; }

.img.w11col img {
  width: 1214px;
  height: auto; }

.img.w11col.single-3x4 img, .img.w11col.double-3x4 img, .img.w11col.triple-3x4 img, .img.w11col.quad-3x4 img {
  height: 1618.667px; }

.img.w12col img {
  width: 1326px;
  height: auto; }

.img.w12col.single-3x4 img, .img.w12col.double-3x4 img, .img.w12col.triple-3x4 img, .img.w12col.quad-3x4 img {
  height: 1768px; }

.col-1 {
  margin-left: 0px; }

.w1col {
  width: 94px; }

.col-2 {
  margin-left: 112px; }

.w2col {
  width: 206px; }

.col-3 {
  margin-left: 224px; }

.w3col {
  width: 318px; }

.col-4 {
  margin-left: 336px; }

.w4col {
  width: 430px; }

.col-5 {
  margin-left: 448px; }

.w5col {
  width: 542px; }

.col-6 {
  margin-left: 560px; }

.w6col {
  width: 654px; }

.col-7 {
  margin-left: 672px; }

.w7col {
  width: 766px; }

.col-8 {
  margin-left: 784px; }

.w8col {
  width: 878px; }

.col-9 {
  margin-left: 896px; }

.w9col {
  width: 990px; }

.col-10 {
  margin-left: 1008px; }

.w10col {
  width: 1102px; }

.col-11 {
  margin-left: 1120px; }

.w11col {
  width: 1214px; }

.col-12 {
  margin-left: 1232px; }

.w12col {
  width: 1326px; }

.grid.colw1 .column {
  width: 94px; }

.grid.colw2 .column {
  width: 206px; }

.grid.colw3 .column {
  width: 318px; }

.grid.colw4 .column {
  width: 430px; }

.grid.colw5 .column {
  width: 542px; }

.grid.colw6 .column {
  width: 654px; }

.grid.colw7 .column {
  width: 766px; }

.grid.colw8 .column {
  width: 878px; }

.grid.colw9 .column {
  width: 990px; }

.grid.colw10 .column {
  width: 1102px; }

.grid.colw11 .column {
  width: 1214px; }

.grid.colw12 .column {
  width: 1326px; }

.grid {
  position: absolute;
  margin: 8px 0px 8px 20px;
  padding: 0 36px;
  top: 50%;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 0px 2px 5px #888888;
  -moz-box-shadow: 0px 2px 5px #888888;
  -o-box-shadow: 0px 2px 5px #888888;
  box-shadow: 0px 2px 5px #888888;
  z-index: 1; }

.fixed.grid {
  max-width: none;
  max-height: none;
  min-width: none;
  min-height: none; }

.fixed {
  padding-left: 0;
  padding-right: 0; }
  .fixed img {
    position: absolute;
    left: 0;
    top: 0; }

body {
  background: #eeeeee;
  overflow: hidden; }

.column, .container {
  position: absolute;
  overflow: hidden;
  top: 72px;
  bottom: 36px; }

#previousPage, #nextPage {
  z-index: -1;
  opacity: 0.5; }

.spread.odd {
  z-index: 2; }
  .spread.odd#previousPage {
    opacity: 1;
    z-index: 1; }
.spread.even {
  margin-left: 0; }
  .spread.even#nextPage {
    opacity: 1; }

.trimleft {
  padding-left: 0; }

.trimright {
  padding-right: 0; }

figure {
  display: block; }

.colapsed {
  position: absolute; }

.fill {
  left: 0;
  top: 0; }

.topfix {
  top: 0; }

.rightfix {
  right: 0; }

.bottomfix {
  bottom: 0;
  top: auto; }

.leftfix {
  left: 0; }

.overflow {
  overflow: visible; }

.error, .loading {
  position: absolute;
  width: 160px;
  height: 100px;
  letter-spacing: 2px;
  margin: 0 0 0 20px; }
  .error img, .loading img {
    display: inline; }

.hidden, .microdata {
  display: none; }

.group {
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 0; }

* {
  cursor: default; }

a, a *, button, button *, .zoomable, .zoomable *, #previousPage, #previousPage *, #nextPage, #nextPage * {
  cursor: pointer; }

.center, .center * {
  text-align: center; }

.nocap .caption {
  display: none; }

.fill .caption {
  padding-left: 36px;
  padding-right: 36px; }

.caption.left {
  text-align: left; }
.caption.right {
  right: 0;
  text-align: right; }

.insetcap .caption {
  position: absolute; }
.insetcap.ul .caption {
  top: 0;
  left: 0; }
.insetcap.ur .caption {
  top: 0;
  right: 0; }
.insetcap.ll .caption {
  bottom: 0;
  left: 0; }
.insetcap.lr .caption {
  bottom: 0;
  right: 0; }

.browser-os-ipad .chrome {
  bottom: 77px; }

.browser-os-iphone .chrome {
  bottom: 63px; }

.fullScreen .chrome {
  bottom: 19px; }

a {
  text-decoration: inherit;
  color: inherit; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; }

.caps {
  font-family: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.column {
  min-height: 54px; }

div, p, button {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 18px; }

em {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: italic; }

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  font-style: inherit; }

.signed {
  text-indent: 0;
  margin-top: 18px; }

.signed:before {
  content: "— "; }

.covercredit {
  text-indent: 0; }

::selection {
  background: #f50019;
  color: white; }

::-moz-selection {
  background: #f50019;
  color: white; }

.white, .white * {
  color: white; }

.black, .black * {
  color: black; }

.primary, .primary * {
  color: #ececec; }

.secondary, .secondary * {
  color: #f50019; }

.tertiary, .tertiary * {
  color: #ccc4b7; }

.onwhite {
  background: white; }

.onblack {
  background: black; }

.onprimary {
  background: #ececec; }

.onsecondary {
  background: #f50019; }

.ontertiary {
  background: #ccc4b7; }

p a, p a:visited, p a:active {
  color: #f50019;
  border-bottom: dotted 1px #f50019; }
p a:hover {
  color: #f50019;
  border-bottom: 1px solid #f50019; }

.column img {
  display: block;
  line-height: 18px; }
.column .keeptogether img {
  display: inline; }

.img.fallback {
  padding: 6px 6px 0 6px;
  margin: 18px 0 0 0;
  border-top: 1px solid #d3d3d3;
  border-left: 1px solid #d3d3d3;
  min-height: 40px; }
  .img.fallback:hover {
    border-color: #f50019; }
  .img.fallback img {
    float: left;
    display: block; }
  .img.fallback .caption {
    display: block;
    padding: 0;
    margin: 0 0 0 50px;
    text-indent: 0;
    line-height: 16px;
    text-align: left; }

.w3col .column img.photo, .mobile .column img.photo {
  display: none; }

.mobile.grid {
  min-width: 9001px;
  width: 9001px;
  padding: 20px; }

.smallscreen.mobile {
  background: white; }
  .smallscreen.mobile .viewer {
    top: 0;
    right: 0;
    left: 0; }
  .smallscreen.mobile .grid {
    min-width: 9001px;
    width: 9001px; }
  .smallscreen.mobile .mobile.grid {
    width: 280px;
    min-width: 280px;
    padding: 20px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    margin: 0; }
    .smallscreen.mobile .mobile.grid .column, .smallscreen.mobile .mobile.grid .container {
      top: 27px;
      bottom: 9px;
      width: 280px; }
    .smallscreen.mobile .mobile.grid .runningtitle {
      position: absolute;
      top: 0;
      right: 20px;
      left: 20px; }
    .smallscreen.mobile .mobile.grid.page-1 .column, .smallscreen.mobile .mobile.grid.page-1 .container {
      top: 72px; }
    .smallscreen.mobile .mobile.grid.page-1 .runningtitle {
      position: absolute;
      top: 0;
      right: 20px;
      left: 20px;
      font-size: 40px;
      line-height: 40px;
      height: 30px;
      padding-top: 9px;
      padding-bottom: 18px; }
      .smallscreen.mobile .mobile.grid.page-1 .runningtitle img {
        width: 30px;
        height: 30px; }
    .smallscreen.mobile .mobile.grid.page-1 .title h1 {
      font-size: 40px;
      line-height: 40px; }
  .smallscreen.mobile .column, .smallscreen.mobile .container, .smallscreen.mobile p {
    width: 280px;
    min-width: 280px; }
  .smallscreen.mobile .cover.w3col.grid, .smallscreen.mobile .cover.w3col.grid * {
    width: 250px;
    height: 333.333px;
    min-width: 250px;
    min-height: 333.333px; }
  .smallscreen.mobile .cover.w3col.grid {
    margin: 0 -8.75px; }
  .smallscreen.mobile .cover.w2col.grid, .smallscreen.mobile .cover.w2col.grid * {
    width: 125px;
    height: 166.667px;
    min-width: 125px;
    min-height: 166.667px; }
  .smallscreen.mobile .cover.w2col.grid {
    margin: 0 -8.75px; }

.no-treesaver {
  overflow: auto; }
  .no-treesaver h1.headder, .no-treesaver ul.nav, .no-treesaver ul.footer, .no-treesaver article {
    -webkit-box-shadow: 0 0 10px #bbbbbb;
    -moz-box-shadow: 0 0 10px #bbbbbb;
    -o-box-shadow: 0 0 10px #bbbbbb;
    box-shadow: 0 0 10px #bbbbbb; }
  .no-treesaver h1.headder {
    background: white;
    margin: 0 auto;
    padding: 36px 36px 0 36px;
    max-width: 654px; }
  .no-treesaver ul.nav, .no-treesaver ul.footer {
    position: relative;
    font-family: "BentonSans", sans-serif;
    margin: 0 auto 0 auto;
    padding: 0 42px 0 30px;
    max-width: 654px;
    list-style: none;
    background-color: #888888;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(#6f6f6f));
    background-image: -webkit-linear-gradient(top, #a2a2a2, #6f6f6f);
    background-image: -moz-linear-gradient(top, #a2a2a2, #6f6f6f);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
    background-image: linear-gradient(top, #a2a2a2, #6f6f6f);
    color: white;
    text-shadow: 0 0 4px #555555;
    height: 35px; }
    .no-treesaver ul.nav li, .no-treesaver ul.footer li {
      float: left;
      list-style: none; }
      .no-treesaver ul.nav li a, .no-treesaver ul.footer li a {
        display: block;
        height: 23px;
        padding: 6px; }
        .no-treesaver ul.nav li a:hover, .no-treesaver ul.footer li a:hover {
          background-color: #a1a1a1;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#888888));
          background-image: -webkit-linear-gradient(top, #bbbbbb, #888888);
          background-image: -moz-linear-gradient(top, #bbbbbb, #888888);
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#888888');
          -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#888888');
          background-image: linear-gradient(top, #bbbbbb, #888888); }
      .no-treesaver ul.nav li ul, .no-treesaver ul.footer li ul {
        position: absolute;
        top: 35px;
        background-color: #888888;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(#6f6f6f));
        background-image: -webkit-linear-gradient(top, #a2a2a2, #6f6f6f);
        background-image: -moz-linear-gradient(top, #a2a2a2, #6f6f6f);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
        background-image: linear-gradient(top, #a2a2a2, #6f6f6f); }
        .no-treesaver ul.nav li ul li, .no-treesaver ul.footer li ul li {
          position: relative;
          float: none;
          width: 100px; }
          .no-treesaver ul.nav li ul li a, .no-treesaver ul.footer li ul li a {
            background-color: #888888;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#a2a2a2), to(#6f6f6f));
            background-image: -webkit-linear-gradient(top, #a2a2a2, #6f6f6f);
            background-image: -moz-linear-gradient(top, #a2a2a2, #6f6f6f);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
            -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a2a2a2', endColorstr='#6f6f6f');
            background-image: linear-gradient(top, #a2a2a2, #6f6f6f); }
          .no-treesaver ul.nav li ul li ul, .no-treesaver ul.footer li ul li ul {
            left: 100%;
            top: 0px; }
  .no-treesaver ul.nav li ul {
    display: none; }
  .no-treesaver ul.nav li:hover ul {
    display: block; }
    .no-treesaver ul.nav li:hover ul li ul {
      display: none; }
    .no-treesaver ul.nav li:hover ul li:hover ul {
      display: block; }
      .no-treesaver ul.nav li:hover ul li:hover ul li ul {
        display: none; }
      .no-treesaver ul.nav li:hover ul li:hover ul li:hover ul {
        display: block; }
        .no-treesaver ul.nav li:hover ul li:hover ul li:hover ul li ul {
          display: none; }
        .no-treesaver ul.nav li:hover ul li:hover ul li:hover ul li:hover ul {
          display: block; }
  .no-treesaver article {
    display: block;
    margin: 0 auto;
    margin-top: 0;
    background-color: white;
    padding: 36px 36px 108px 36px;
    max-width: 654px; }
    .no-treesaver article h1 {
      margin: 0; }
    .no-treesaver article hgroup {
      margin-bottom: 18px; }
    .no-treesaver article figure div {
      display: none; }
    .no-treesaver article figure div.no-js {
      display: block;
      margin: 18px 0; }
      .no-treesaver article figure div.no-js img {
        width: 100%;
        height: auto; }
